name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Inspect Code
      uses: JetBrains/ReSharper-InspectCode@v0.11
      with:
        solution: ./MarketBasketAnalysis.sln
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Create NuGet package
      run: dotnet pack ./src/MarketBasketAnalysis/MarketBasketAnalysis.csproj